       <div class="viewport" style="background-color:black">
    
        <div id="welcome">
            <img src="images/LOGO.svg" alt="ZONE">
        </div>
        
        <div id="intro">
            
            <div id="introText">
                <h1>WELCOME TO ZONE</h1>
                <p><br><br>Build your own virtual space within your desktop browser, then immerse yourself in your unique Zone with the power of your smartphone and a Google Cardboard viewer. <br><br>Create a Zone to play, meditate, or even just dream.</p>
            </div>
            
            <div id="introButtons">
                
                <a ng-click="changeTemplate('/learn');">
                    <div class="introButton" id="learn">
                        <h1>LEARN</h1>
                    </div>
                </a>
                    
                <a ng-click="changeTemplate('/build');">
                    <div class="introButton" id="build">
                        <h1>BUILD</h1>
                    </div>
                </a>
                
            </div>
        </div> 
<br><br>

    </div>