       <div class="viewport" style="background-color:black">
	 <div class="column-center">Column center</div>
   <div class="column-left">

  <div id="shapes">
                
                <div class="object" id="smallcube" >
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 600 600" enable-background="new 0 0 600 600" xml:space="preserve">
                        <rect fill="#FFFEF5" width="600" height="600"/>
                    </svg>
                </div>
                
                <div class="object" id="mediumcube">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 600 600" enable-background="new 0 0 600 600" xml:space="preserve">
                        <rect fill="#FFFEF5" width="600" height="600"/>
                    </svg>
                </div>
                
                <div class="object" id="largecube">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 600 600" enable-background="new 0 0 600 600" xml:space="preserve">
                        <rect fill="#FFFEF5" width="600" height="600"/>
                    </svg>
                </div>


                <div style="float:right;clear:both;">xx</div>

                <div class="object" id="smallsphere">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 600 600" enable-background="new 0 0 600 600" xml:space="preserve">
                        <circle fill="#FFFEF5" cx="300" cy="300" r="300"/>
                    </svg>
                </div>
                
                <div class="object" id="mediumsphere">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 600 600" enable-background="new 0 0 600 600" xml:space="preserve">
                        <circle fill="#FFFEF5" cx="300" cy="300" r="300"/>
                    </svg>
                </div>
                
                <div class="object" id="largesphere">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 600 600" enable-background="new 0 0 600 600" xml:space="preserve">
                        <circle fill="#FFFEF5" cx="300" cy="300" r="300"/>
                    </svg>
                </div>
                
                <div class="object" id="smallpyramid">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 600 600" enable-background="new 0 0 600 600" xml:space="preserve">
                        <polygon fill="#FFFEF5" points="3.9,550.4 300,37.6 596.1,550.4 "/>
                    </svg>
                </div>
                
                <div class="object" id="mediumpyramid">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 600 600" enable-background="new 0 0 600 600" xml:space="preserve">
                        <polygon fill="#FFFEF5" points="3.9,550.4 300,37.6 596.1,550.4 "/>
                    </svg>
                </div>
                
                <div class="object" id="largepyramid">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 600 600" enable-background="new 0 0 600 600" xml:space="preserve">
                        <polygon fill="#FFFEF5" points="3.9,550.4 300,37.6 596.1,550.4 "/>
                    </svg>
                </div>
                
                <div class="object" id="smallprism">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 600 600" enable-background="new 0 0 600 600" xml:space="preserve">
                        <rect x="147.8" fill="#FFFEF5" width="304.5" height="600"/>
                    </svg>
                </div>
                
                <div class="object" id="mediumprism">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 600 600" enable-background="new 0 0 600 600" xml:space="preserve">
                        <rect x="147.8" fill="#FFFEF5" width="304.5" height="600"/>
                    </svg>
                </div>
                
                <div class="object" id="largeprism">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 600 600" enable-background="new 0 0 600 600" xml:space="preserve">
                        <rect x="147.8" fill="#FFFEF5" width="304.5" height="600"/>
                    </svg>
                </div>
                
                <div class="object" id="smallcone">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 600 600" enable-background="new 0 0 600 600" xml:space="preserve">
                        <path fill="#FFFEF5" d="M585.3,505.3L299.1,9.1L12.8,505.3c0,47.1,129,85.7,287.2,85.7s287.2-38.6,287.2-85.7H585.3z"/>
                    </svg>
                </div>
                
                <div class="object" id="mediumcone">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 600 600" enable-background="new 0 0 600 600" xml:space="preserve">
                        <path fill="#FFFEF5" d="M585.3,505.3L299.1,9.1L12.8,505.3c0,47.1,129,85.7,287.2,85.7s287.2-38.6,287.2-85.7H585.3z"/>
                    </svg>
                </div>
                
                <div class="object" id="largecone">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 600 600" style="enable-background":new 0 0 600 600; xml:space="preserve">
                        <path fill="#FFFEF5" d="M585.3,505.3L299.1,9.1L12.8,505.3c0,47.1,129,85.7,287.2,85.7s287.2-38.6,287.2-85.7H585.3z"/>
                    </svg>
                </div>
                
                <div class="object" id="smalldodecahedron">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 600 600" enable-background="new 0 0 600 600" xml:space="preserve">
                        <polygon fill="#FFFEF5" points="114.1,584.1 0,232.9 298.8,15.9 597.5,232.9 483.4,584.1 "/>
                    </svg>
                </div>
                
                <div class="object" id="mediumdodecahedron">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 600 600" enable-background="new 0 0 600 600" xml:space="preserve">
                        <polygon fill="#FFFEF5" points="114.1,584.1 0,232.9 298.8,15.9 597.5,232.9 483.4,584.1 "/>
                    </svg>
                </div>
                
                <div class="object" id="largedodecahedron">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 600 600" enable-background="new 0 0 600 600" xml:space="preserve">
                        <polygon fill="#FFFEF5" points="114.1,584.1 0,232.9 298.8,15.9 597.5,232.9 483.4,584.1 "/>
                    </svg>
                </div>

            </div>
            


   </div>
   <div class="column-right">Column right</div>

    </div>