       <div class="viewport" style="background-color:black">
    
        <div id="welcome">
            <img src="images/LOGO.svg" alt="ZONE">
        </div>
        
        <div id="intro">
            
            <div id="introText">
                <h1>Learn tutorial goes here</h1>
      
            </div>
 


 	            <div id="introButtons">
                
                <a href="" ng-click="changeTemplate('/learn');">
                    <div class="introButton" id="learn">
                        <h1>LEARN</h1>
                    </div>
                </a>
                    

                      <a href="" ng-click="changeTemplate('/');">
                    <div class="introButton" id="learn">
                        <h1>HOME</h1>
                    </div>
                </a>


                <a href="buildFE.html" >
                    <div class="introButton" id="build">
                        <h1>BUILD</h1>
                    </div>
                </a>
                
            </div>


        </div> 
<br><br>

    </div>