<div layout="column" layout-fill>


  <md-toolbar>
    <div class="md-toolbar-tools">


<md-button aria-label="Open sample menu">
  <i class="fa fa-save"></i>
Save and generate QR Code
 </md-button>


 <md-button aria-label="Open sample menu">
  <i class="fa fa-file-text"></i>
Create a new world
 </md-button>



 <md-button aria-label="Open sample menu">
  <i class="fa fa-download"></i>
Download as JSON
 </md-button>

  <md-button aria-label="Open sample menu">
  <i class="fa fa-share-alt"></i>
Share
 </md-button>

  <md-button aria-label="Open sample menu">
  <i class="fa fa-info-circle"></i>
Help
 </md-button>

      <!-- fill up the space between left and right area -->
      <span flex></span>



      <span><a href="https://github.com/ankitgyawali/ProjectZone-vr-creator" target="_blank">Project Zone VR Creator</a></span>




    </div>
  </md-toolbar>

  <md-content flex>
    <!-- Content could be added here instead of after two lines...  -->

  </md-content>
</div>



<div  style="border:1px solid black;width:55%" ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="World">
        <md-content class="md-padding">
          <h1 class="md-title">World Options</h1>
          <p>

<br><br>

<button ng-click="saveEnvironment()"> Save and Generate QR Code! </button>


          </p>
        </md-content>
      </md-tab>

      <md-tab label="Rendering">
        <md-content class="md-padding">
          <h1 class="md-display-1">Rendering Options</h1>
          <p>
<ul>
	<li>Foo</li>
	<li>Bar</li>
	<li>Baz</li>
</ul>


          </p>
        </md-content>
      </md-tab>


      <md-tab label="Objects">
        <md-content class="md-padding">
          <h3 >Modify Objects</h1>
          <p>


     <div ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Choose Object Properties">
        <md-content class="md-padding">
          <h4>List of Objects</h4>
          <p>

<ul>
	<li>Foo</li>
	<li>Bar</li>
	<li>Baz</li>
</ul>



          </p>
        </md-content>
      </md-tab>
      <md-tab label="Animate Object">
        <md-content class="md-padding">
               <h4>List of Objects</h4>
          <p>
<ul>
	<li>Foo</li>
	<li>Bar</li>
	<li>Baz</li>
</ul>





          </p>

        </md-content>
      </md-tab>



    </md-tabs>
  </md-content>
</div>



          </p>



        </md-content>
      </md-tab>


    </md-tabs>
  </md-content>
</div>









