/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
    
//_____________________________________

//color variables!
$blue: #67CCEB;
$red: #EC5B3C;
$green: #56C1AB;
$grey: #353634;
$white: #FFFDF1;

//general styling_____________________
body {
    background-color: black; 

    .viewport { 
        width: 100%;
        margin: auto;
        color: $white;
        font-family: futura, sans-serif;
        line-height: 1.5;
        letter-spacing: 1px;
        
        h1 {
            font-size: 30px;
            line-height: 1;
            letter-spacing: 10px;
            
            @media (max-width: 425px) {
                font-size: 20px;
                line-height: 1.5;
            }
        }
        
        p {
            font-size: 16px;
        }
        
        a:link { color: $white; text-decoration: none; }
        a:visited { color: $white; text-decoration: none; }
        a:hover { color: $white; text-decoration: none; }
        a:active { color: $white; text-decoration: none; }
        
    }
}

//intro page___________________________
#welcome {
    width: 65%;
    padding-top: 30px;
    margin: auto;
}

#intro {
    width: 65%;
    margin: auto;
    margin-top: -50px;
    
     h1, p{
        text-align: center;
    }
    
    #introText {
        margin-top: 75px;
        background-color: $grey;
        padding: 30px;
    }
    
    #introButtons {
        display: flex;
        justify-content: space-around;
            
        .introButton {
            width: 30%;
            min-width: 200px;
            height: 4em;
            position: relative;
            margin: auto;
            margin-top: 80px;

            h1 {
                display: flex;
                justify-content: center;
                margin-top: 20px;
                height: 2em;
                align-items: center;
            }
        }
        
        #learn { background-color: $red; }
        #build { background-color: $blue; }
    }
}

//rooms page___________________________
#rooms {
    width: 100%;
    display: flex;
    justify-content: space-around;
    
    .room {
        width: 30%;
        background-color: aqua;
        height: 400px;
    } 
}

//build page___________________________
.toolbar {
    width: 330px;
    height: 100vh;
    position: fixed;
    background-color: black;
    display: block;
    z-index: 100;
    
    
    #logo {
        width: 90%;
        margin-top: 10px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .grab {
        cursor: grab !important;   
    }

    .object {
        height: 50px;
    }
    
    .buttons {
        display: flex;
        justify-content: space-around;
        position: absolute;
        width: 330px;
        bottom: 0px;
        height: 4em;
        
        h2 {
            font-family: futura, helvetica;
            color: $white;
            padding: 10px;
            text-align: center;
            margin: auto;
            display: flex;
            justify-content: center;
            height: 2em;
            align-items: center;
        }
    }
    
    .button {
        width: 33.3%;
    }
    
    #shapeButton { background-color: $red; }
    #shapeButton:hover { background-color: #F8AEA2; transition: .5s; }
    
    #colorButton { background-color: $blue; }
    #colorButton:hover { background-color: #C1E7F3; transition: .5s; }
    
    #lightButton { background-color: $green; }
    #lightButton:hover { background-color: #A2D9D4; transition: .5s; }
    
}





#shapes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: baseline;
    margin-top: -15px;  
}
    
#smallcube, #smallsphere, #smallpyramid, #smallprism, #smallcone, #smalldodecahedron {
    width: 35px; padding: 0 18px 0 18px;
}
    
    
#mediumcube, #mediumsphere, #mediumpyramid, #mediumprism, #mediumcone, #mediumdodecahedron {
    width: 60px;  padding: 0 18px 0 18px;
}
        
#largecube, #largesphere, #largepyramid, #largeprism, #largecone, #largedodecahedron {
    width: 80px;  padding: 0 18px 0 18px;
}





#light {
    
    #alllights {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
            
        #greenlight {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-color: #A0D299;
            margin: 10px;
        }
        
        #redlight {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-color: #F9B6A3;
            margin: 10px;
        }
        
        #bluelight {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-color: #00AFAB;
            margin: 10px;
        }
        
          #naturallight {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-color: #F7F3A9;
            margin: 10px;
        }
    }        
}

#buildViewport {
    background-color: $grey;
    position: relative;
    width: 100%;
    height: 1000px;
}

.instructions{
    position: absolute;
    left:400px;
    top:20px;
    width: 60%;
    
}

.workspace {
    position: absolute;
    width: 600px;
    height: 600px;
    background-color: grey;
    margin-left: 400px;
    margin-top: 35px;
    position: absolute;
    clear: both;
}

//.instructions {
//    width: 2000px;
//    height: 1000px;
//    background-color: aqua;
//
//    .miscInstruct {
//    
//    }
//    
//}



    
        

